<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.test.ActitimeDeleteLeaveTest"/>
      <class name="com.actitime.test.ActitimeLoginTest"/>
      <class name="com.actitime.test.ActitimeCreateLeaveTest"/>
      <class name="com.actitime.test.ActitimeDeleteWork"/>
      <class name="com.actitime.test.ActitimeEditWork"/>
      <class name="com.actitime.test.ActitimeCreateWorkTest"/>
      <class name="com.actitime.test.Testing"/>
      <class name="com.actitime.test.ActitimeEditLeaveTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
